<div class="container">
  <div class="row">
    <div class="col-sm-auto" style="border: 1px solid red">
      All feeds
      <button type="button" class="btn btn-success">New chanel</button>
      <div class="row">
        <div class="list-group" *ngFor="let feed of savedRssFeeds">
          <button (click)="selectFeed($event)" type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
          <button (click)="selectFeed($event)" type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
          <button (click)="selectFeed($event)" type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
          <button (click)="selectFeed($event)" type="button" class="list-group-item list-group-item-action">Vestibulum at eros</button>
        </div>
      </div>
    </div>
    <div class="col" style="border: 1px solid blue">
      {{selectedFeedText}}
    </div>
  </div>
</div>
